.tg  {width:100%;border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:11px;padding:5px 5px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:11px;font-weight:normal;padding:5px 5px;overflow:hidden;word-break:normal;}
.tg .tg-zlqz{font-weight:bold;background-color:yellow;text-align:center;vertical-align:top}
.tg .tg-c3ow{text-align:center;vertical-align:top;border:0;}
.tg .tg-7btt{font-weight:bold;text-align:center;vertical-align:top}